//import easy to link
{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "#": "./src"
                }
            }
        ]
    ]
}
